.sidebar {
    height: 100vh;
    min-width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: #1d1f21;
  }
  
  .sidebar .nav-link:hover {
    background-color: #343a40;
    border-radius: 5px;
    padding-left: 10px;
    transition: 0.3s;
  }
  